{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-light p-3" style="padding: 16px;" >

    <div class="container-fluid">
        <a class="navbar-brand" href="#">MyWishlist</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'wishlist:show_wishlist' %}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'wishlist:show_xml' %}">XML</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'wishlist:show_json' %}">JSON</a>
                </li>

            </ul>
        </div>

    </div>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <button type="button" class="btn btn-primary">
                <a class="text-decoration-none text-white" href="{% url 'wishlist:logout' %}">Logout</a>
            </button>
        </li>
    </ul>

</nav>

<br>

<h4 class="text-center">Welcome back, {{username}}</h4>
<p class="text-center">Last login: {{last_login}}</p>

<br>

<script>
    $(document).ready(function() {
        // figure out how to assign the URL to your app on Heroku
        const url = "{% url 'wishlist:show_json' %}"
        $.get(url), function(data) {
        
            data.forEach(function(item) {
                var item_name = item.fields.item_name;
                var item_price = item.fields.item_price;
                var item_description= item.fields.item_description;
                var html = "<tr><td>" + item_name + "</td><td>" + item_price + "</td><td>" + item_description + "</td>";
                $(".tbody").append(html);    

            });
            // for each entry i collection of data
            // create a new row
            // figure out how many pros in the row
            // For each prop,create a column as the child of the new row
            // In the new column, set the text value of that column to the value of current prop
        
        };
    });
</script>

{% endblock content %}